<% if flash[:notice] %>
  <div class="alert alert-primary" role="alert">
    <%= notice %>
  </div>
<% end %>

<p>　　<b>Title:</b><%= @book.title %></p>
<p>　　<b>Body:</b><%= @book.body %></p>

<%= link_to 'Edit', edit_book_path(@book.id) %>　|　<a href="/books">Back</a>